<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contat</title>
  <style>
     ul li {
        list-style-type: none;
      }
      ul li {
        background-color: black;
        padding: 10px 10px;
        /* display: block; */
        display: inline-block;
        margin: 1px 1px;
      }
      a {
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        line-height: 1rem;
      }
  </style>
</head>
<body>
  <div class="div">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
      <li>
        <a href="admin/dashboard.html">Dashboard</a>
      </li>
    </ul>
    
  </div>
  <h1>This is Dashboard</h1>
</body>
</html>