<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <h1>This is home Page</h1>
  <a href="/home">Home</a>
  <a href="/about">About</a>

  <h2>Students details:</h2>

  <p>Student Name:{{ name }}</p>

<hr>
<h2>Marks</h2>

<table border="5">
  <thead>
    <tr>
      <th>Subject Name</th>
      <th>Marks</th>
    </tr>

  </thead>
  <tbody>
{{#student}}
    <tr>
      <td> {{ subjectName}}</td>

      <td> {{ marks}}</td>
    
    </tr>
    {{/student}}

  </tbody>
</table>

{{>searchbox}}

</body>
</html>